@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Arima:wght@100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alatsi&family=Kanit&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alata&family=Alatsi&family=Kanit&display=swap');

* {
    border: 0;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: column;
    background-color: #1e1e1e;
    color: #fafafa;
    max-width: 100dvw;
}

header{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    & #icon{
        margin-left: 20px;
        width: 105px;
        height: 105px;
        &:hover{
            cursor: pointer;
        }
    }

    & #links{
        margin-right: 20px;
        list-style: none;
        display: flex;
        flex-wrap: wrap;
        gap: 18px;
        align-items: center;
        justify-content: center;
        height: 100%;
        font-family: "arima";
        font-size: 2.2ch;
        text-shadow: 0px 4px 6px rgba(0, 0, 0, .9);
    }
    
    & li{
        transition: scale .2s ease-out;
        &:hover{
            cursor: pointer;
            scale: 1.2;
            color: #fff;
        }
    }
}

#home{
    display: flex;
    width: 100%;
    & .introPic{
        height: 100dvh;
        width: 33.33vw;
    }

    & #introPic1{
        background: url("../images/backgroundLeft.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

    & #introPic2{
        background: url("../images/bacgroundMid.jpg");
        background-repeat: no-repeat;
        background-size: cover;
    }

    & #introPic3{
        background: url("../images/backgroundRight.jpg");
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
}

#aboutSect{
    & #leftVector{
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-bottom: 17dvh solid #fafafa;
        border-right: 33.33dvw solid transparent;
        transform: scaleX(-1) rotate(180deg);
    } 
    & #aboutMain{
        font-family: "Alatsi";
        font-size: 3ch;
        font-weight: 400;
        margin-top: 20px;
        color: #0B6DFF;
    }
    & #rightVector{
        width: 0;
        height: 0;
        border-left: 0 solid transparent;
        border-bottom: 17dvh solid #fafafa;
        border-right: 33.33dvw solid transparent;
        transform: rotate(180deg);
    }
    & article{
        margin-top: 60px;
        display: flex;
        gap: 25px;
    }
    & img{
        width: 47dvw;
        height: 70dvh;
    }
    & #aboutText{
        font-family: "Alata";
        font-size: 1.9ch;
        width: 40dvw;
        align-self: center;
        text-align: justify;
        display: flex;
        flex-direction: column;
        gap: 15dvh;
        align-items: center;
        
        & ul{
            list-style: none;
            display: flex;
            flex-direction: row;
            gap: 5dvw;
            align-items: center;
            margin-bottom: 5dvh;
            & .sociais{
                width: 6dvw;
                height: 6dvw;
                border-radius: 20px;
                transition: all .2s ease-out;
                background-color: rgba(17, 41, 255, 1);
                &:hover{
                    cursor: pointer;
                    scale: 1.2;
                    background-color: rgb(10, 22, 133);
                }
            }
            & #media1 div{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: url("../images/instagram-icon.svg");
                background-repeat: no-repeat;
                background-size: cover;
                filter: invert(1);
            }
            & #media2 div{
                width: 100%;
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                background: url("../images/youtube-icon.svg");
                background-repeat: no-repeat;
                background-size: cover;
                filter: invert(1);
            }
        }
    }
}

.content{
    background-color: #2a2a2a;
    width: 100%;
    height: 25dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    & #first{
        background: url("../images/FIRST_HorzRGB_reverse.png");
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 100%;
        height: 70%;
    }
    & #support{
        font-family: "Alatsi";
        font-size: 4ch;
        font-weight: 400;
        color: #0B6DFF;
    }
}

#firstSect{
    & article{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-around;
    }
    & #aboutFirst{
        max-width: 40dvw;
        font-family: "Alata";
        font-size: 1.9ch;
        text-align: justify;
    }
    & img{
        width: 55dvw;
        height: 70dvh;
    }
}

#supSect{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-evenly;
    margin: 5dvh 0dvh;

}